.about-section {
    padding: 1rem 1rem;
    background-color: transparent;
    color: inherit;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading Centered */
.about-heading {
    text-align: center;
    margin-right: 220px;
    margin-bottom: 2rem;
}

.about-heading h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

/* Container Layout */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
}

/* Text on Left */
.about-text {
    flex: 2;
    max-width: 500px;
    text-align: left;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.2rem;
}

.resume-download-btn {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #222;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.resume-download-btn:hover {
    background-color: #444;
}

body.dark .resume-download-btn {
    background-color: #fff;
    color: #000;
}

body.dark .resume-download-btn:hover {
    background-color: #e0e0e0;
}

/* Image on Right */
.about-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img {
    width: 260px;
    height: 340px;
    object-fit: contain;
    border-radius: 50% / 40%;
    /* more oval, smoother vertical curve */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


/* Responsive */
@media (max-width : 1300px) {
    .about-section{
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    .about-container {
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 10px;

    }
    .about-heading{margin-right: 0;}
    .about-text {
        text-align: center;
    }
    .about-section{
        margin-left: 0;
    }
    .about-img {
        width: 180px;
        height: 250px;
        border-radius: 50% / 35%;
        margin-bottom: 30px;

    }
}

@media (max-width : 482px) {
    .about-heading{
        margin-right: 0;
    }
    .about-heading h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
        margin-right: 0;
    }

    .about-section {
        margin-left: 0;

    }

    .home-right h1 {
        font-size: 2rem;

    }

    .about-img {
        margin-bottom: 50px;
    }
}